<div class="modal-header">
  <h4 class="modal-title">Example</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div>
         <img src="assets/images/grid-justify-content2.jpg"/>
         <img src="assets/images/grid-justify-content3.jpg"/>
    </div>
    <br />
    <br />
    <div>
         <img src="assets/images/grid-justify-content4.jpg"/>
         <img src="assets/images/grid-justify-content5.jpg"/>
    </div>
    <br />
    <br />
    <div>
         <img src="assets/images/grid-justify-content6.jpg"/>
         <img src="assets/images/grid-justify-content7.jpg"/>
    </div>
    <br />
    <br />
    <div>
         <img src="assets/images/grid-justify-content8.jpg"/>
         <img src="assets/images/grid-justify-content9.jpg"/>
    </div>
    <br />
    <br />
    <div>
         <img src="assets/images/grid-justify-content10.jpg"/>
         <img src="assets/images/grid-justify-content11.jpg"/>
    </div>
    <br />
    <br />
    <div>
         <img src="assets/images/grid-justify-content12.jpg"/>
         <img src="assets/images/grid-justify-content13.jpg"/>
    </div>
    <br />
    <br />
    <div>
         <img src="assets/images/grid-justify-content14.jpg"/>
         <img src="assets/images/grid-justify-content15.jpg"/>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Close</button>
</div>
