<h1>Grid Child Properties</h1>
<br />
<ul>
    <li><a href="/grid-child-properties#prop-grid-property">grid-column-start</a></li>
    <li><a href="/grid-child-properties#prop-grid-property">grid-column-end</a></li>
    <li><a href="/grid-child-properties#prop-grid-property">grid-row-start</a></li>
    <li><a href="/grid-child-properties#prop-grid-property">grid-row-end</a></li>
    <li><a href="/grid-child-properties#prop-grid-column-row">grid-column</a></li>
    <li><a href="/grid-child-properties#prop-grid-column-row">grid-row</a></li>
    <li><a href="/grid-child-properties#prop-grid-area">grid-area</a></li>
</ul>
<br />
<div id="prop-grid-property">
    <img src="assets/images/grid-child-propert1.jpg"/>
    <img src="assets/images/grid-child-propert2.jpg"/>
    <br /><br />
    <a href="javascript:void(0)" (click)="exampleTemplateGrid()">Example</a>
</div>
<br />
<br />
<div id="prop-grid-column-row">
    <img src="assets/images/grid-child-row-column1.jpg"/>
    <br /><br />
    <a href="javascript:void(0)">Example</a>
    <br /><br />
    <img src="assets/images/grid-child-row-column2.jpg"/>
</div>
<br />
<br />
<div id="prop-grid-area">
    <img src="assets/images/grid-area1.jpg"/>
    <br /><br />
    <a href="javascript:void(0)" (click)="exampleTemplateGrid()">Example</a>
</div>
