<div class="modal-header">
  <h4 class="modal-title">Example</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div>
        <img src="assets/images/grid-child-propert3.jpg"/>
        <img src="assets/images/grid-child-propert4.jpg"/>
    </div>
    <br />
    <br />
    <div>
         <img src="assets/images/grid-child-propert5.jpg"/>
         <img src="assets/images/grid-child-propert6.jpg"/>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Close</button>
</div>
