<div class="logo">
   <a routerLink="/"><h1>GRID CSS</h1></a>
</div>
<div class="top-menu">
<ul class="cl-effect-16">
   <li><a routerLink="/" data-hover="Grid Layout">Grid Layout</a></li>
   <li><a routerLink="basic" data-hover="Basic Terminologies">Basic Terminologies</a></li>
   <li><a routerLink="flex-grid" data-hover="FlexBox Vs Grid">FlexBox Vs Grid</a></li>
   <li><a routerLink="about" data-hover="About">About</a></li>
   <li><a routerLink="grid-properties" data-hover="Grid Properties">Grid Properties</a></li>
</ul>
</div>
