
   <h3 class="tittle">Grids <i class="glyphicon glyphicon-stop"></i></h3>
   <div class="form-group">
       <div class="grid-main">
           <div class="grid-item grid-item12">
               <input type="text" class="form-control1" placeholder=".grid-column12">
           </div>
       </div>
   </div>
   <div class="form-group">
       <div class="grid-main">
           <div class="grid-item grid-item2">
               <input type="text" class="form-control1" placeholder=".grid-column2">
           </div>
           <div class="grid-item grid-item10">
               <input type="text" class="form-control1" placeholder=".grid-column10">
            </div>
       </div>
   </div>
   <div class="form-group">
       <div class="grid-main">
           <div class="grid-item grid-item3">
               <input type="text" class="form-control1" placeholder=".grid-column3">
           </div>
           <div class="grid-item grid-item9">
               <input type="text" class="form-control1" placeholder=".grid-column9">
            </div>
       </div>
   </div>

   <div class="form-group">
       <div class="grid-main">
           <div class="grid-item grid-item4">
               <input type="text" class="form-control1" placeholder=".grid-column4">
           </div>
           <div class="grid-item grid-item8">
               <input type="text" class="form-control1" placeholder=".grid-column8">
            </div>
       </div>
   </div>

   <div class="form-group">
       <div class="grid-main">
           <div class="grid-item grid-item5">
               <input type="text" class="form-control1" placeholder=".grid-column5">
           </div>
           <div class="grid-item grid-item7">
               <input type="text" class="form-control1" placeholder=".grid-column7">
            </div>
       </div>
   </div>

   <div class="form-group">
       <div class="grid-main">
           <div class="grid-item grid-item6">
               <input type="text" class="form-control1" placeholder=".grid-column6">
           </div>
           <div class="grid-item grid-item6">
               <input type="text" class="form-control1" placeholder=".grid-column6">
            </div>
       </div>
   </div>

   <div class="form-group">
       <div class="grid-main">
           <div class="grid-item grid-item4">
               <input type="text" class="form-control1" placeholder=".grid-column4">
           </div>
           <div class="grid-item grid-item4">
               <input type="text" class="form-control1" placeholder=".grid-column4">
            </div>
            <div class="grid-item grid-item4">
                <input type="text" class="form-control1" placeholder=".grid-column4">
             </div>
       </div>
   </div>

   <div class="form-group">
       <div class="grid-main">
           <div class="grid-item grid-item3">
               <input type="text" class="form-control1" placeholder=".grid-column3">
           </div>
           <div class="grid-item grid-item6">
               <input type="text" class="form-control1" placeholder=".grid-column6">
            </div>
            <div class="grid-item grid-item3">
                <input type="text" class="form-control1" placeholder=".grid-column3">
             </div>
       </div>
   </div>

   <div class="form-group">
       <div class="grid-main">
           <div class="grid-item grid-item2">
               <input type="text" class="form-control1" placeholder=".grid-column2">
           </div>
           <div class="grid-item grid-item8">
               <input type="text" class="form-control1" placeholder=".grid-column8">
            </div>
            <div class="grid-item grid-item2">
                <input type="text" class="form-control1" placeholder=".grid-column2">
             </div>
       </div>
   </div>

   <div class="form-group">
       <div class="grid-main">
           <div class="grid-item grid-item3">
               <input type="text" class="form-control1" placeholder=".grid-column3">
           </div>
           <div class="grid-item grid-item3">
               <input type="text" class="form-control1" placeholder=".grid-column3">
            </div>
            <div class="grid-item grid-item3">
                <input type="text" class="form-control1" placeholder=".grid-column3">
            </div>
            <div class="grid-item grid-item3">
                <input type="text" class="form-control1" placeholder=".grid-column3">
             </div>
       </div>
   </div>

   <div class="form-group">
       <div class="grid-main">
           <div class="grid-item grid-item5">
               <input type="text" class="form-control1" placeholder=".grid-column5">
           </div>
           <div class="grid-item grid-item2">
               <input type="text" class="form-control1" placeholder=".grid-column2">
            </div>
            <div class="grid-item grid-item5">
                <input type="text" class="form-control1" placeholder=".grid-column5">
             </div>
       </div>
   </div>

   <div class="form-group">
       <div class="grid-main">
           <div class="grid-item grid-item2">
               <input type="text" class="form-control1" placeholder=".grid-column2">
           </div>
            <div class="grid-item grid-item2">
                <input type="text" class="form-control1" placeholder=".grid-column2">
             </div>
             <div class="grid-item grid-item2">
                 <input type="text" class="form-control1" placeholder=".grid-column2">
             </div>
              <div class="grid-item grid-item2">
                  <input type="text" class="form-control1" placeholder=".grid-column2">
               </div>
               <div class="grid-item grid-item2">
                   <input type="text" class="form-control1" placeholder=".grid-column2">
               </div>
                <div class="grid-item grid-item2">
                    <input type="text" class="form-control1" placeholder=".grid-column2">
                 </div>
       </div>
   </div>
