<h1>Grid Support</h1>
<br />
<img class="img-responsive" src="assets/images/support.jpg"/>
<br /><br /><br />
<img src="assets/images/feature-query.jpg"/>
<br /><br />
<h5>Use feature queries to test for grid support in the current browser.<br />
Feature queries asks the browser whether it supports grid
Works like media query.</h5>
<br /><br />
<h2>Practical Approach Today</h2>
<ul>

    <li>Build accessible mobile first layout without grid. Make it work on mobile and make sure it works on large screen.
</li>
    <li>Use that mobile layout as a fallback for all browsers
</li>
<li>Use @support to detect grid support</li>
<li>At appropriate breakpoint create layout with grid and grid area</li>
<li>Explore new layout as viewport widens.</li>
</ul>
