<h1>FlexBox vs Grid</h1>
<ul>
    <li>The box model in CSS gave designers a native way to treat HTML elements, using height and width, padding, borders, and margins.</li>
    <li>This enabled them to define space between elements and add treatment to them with borders. Fixed column heights and the float and clear properties then allowed you to align these boxes and/or stack them in columns, either on their own or within a box container. But, this was a lot of work and a bit of a hack.</li>
    <li>To make this easier, CSS3 launched a new and improved native layout mode: Flexbox. </li>
    <li>This improved on the box model by giving designers more control over the layout without needing to use floats and clears. </li>
    <li>In Flex, you can flow elements in either rows or columns (but not both simultaneously) by creating flex containers and within those, flex items.</li>
</ul>
