<h1>Basic Terminologies</h1>
<br />
<h2>Grid Container
</h2>
<br />
<p>Every website, or application layout you make (or have seen) is essentially, boxes placed within certain defined boundaries.</p>
<br /><br /><img class="img-responsive" src="assets/images/grid-layout.gif"/><br />
<p>In very simple terms, a grid is just “lines”. Horizontal and vertical lines that define the placement of other design elements.</p>
<p>The element on which display: grid is applied. It's the direct parent of all the grid items. In this example container is the grid container.</p>
<br /><br /><img class="img-responsive" src="assets/images/container.jpg"/><br /><br />
<h2>Grid Line</h2><br />
<p>The dividing lines that make up the structure of the grid. They can be either vertical ("column grid lines") or horizontal ("row grid lines") and reside on either side of a row or column. Here the yellow line is an example of a column grid line.</p>
<br /><img  src="assets/images/grid_line.jpg"/><br /><br />
<h2>Grid Track</h2><br />
<p>The space between two adjacent grid lines. You can think of them like the columns or rows of the grid. Here's the grid track between the second and third row grid lines.</p>
<br /><img  src="assets/images/grid_track.jpg"/><br /><br />
<h2>Grid Cell</h2><br />
<p>The space between two adjacent row and two adjacent column grid lines. It's a single "unit" of the grid. Here's the grid cell between row grid lines 1 and 2, and column grid lines 2 and 3.</p>
<br /><img  src="assets/images/grid_cell.jpg"/><br /><br />
<h2>Grid Area</h2><br />
<p>The total space surrounded by four grid lines. A grid area may be comprised of any number of grid cells. Here's the grid area between row grid lines 1 and 3, and column grid lines 1 and 3.</p>
<br /><img  src="assets/images/grid_area.jpg"/><br /><br />
